<pre>
<div class="text-center"
     class="pagination-centered">
    Game name
    <input type="text" ng-model="vm.gameName" class="form-control"/>
    Game password
    <input type="password" ng-model="vm.password" class="form-control"/>
      <button type="button" class="btn btn-success btn-sm" ng-click="vm.loadGame()">
        Connect on an existing game
    </button>
</div>
    <div class="text-center"
         class="pagination-centered">
    <button type="button" class="btn btn-danger btn-sm" ng-click="vm.createGame()">
        Create a new game
    </button>
    </div>
</pre>